<form
  (ngSubmit)="onSubmit()"
>
  <div class="form-group">
    <label
    >
      {{ 'Country' }}

      <ng-select
        class="form-control"
        [formControl]="$any(form).controls['country']"
        [placeholder]="'select country'"
        [items]="countries"
        [bindLabel]="'name'"
        [searchable]="true"
        [clearable]="false"
        (change)="onCountryChange()"
      >
      </ng-select>
    </label>
  </div>

  <div class="form-group">
    <label
    >
      {{ 'Province' }}

      <ng-select
        class="form-control"
        [formControl]="$any(form).controls['province']"
        [placeholder]="'select province'"
        [items]="provinces"
        [bindLabel]="'name'"
        [searchable]="true"
        [clearable]="false"
        (change)="onProvinceChange()"
      >
      </ng-select>
    </label>
  </div>

  <div class="form-group">
    <label
    >
      {{ 'County'}}

      <ng-select
        class="form-control"
        [formControl]="$any(form).controls['county']"
        [placeholder]="'select county'"
        [items]="counties"
        [bindLabel]="'name'"
        [searchable]="true"
        [clearable]="false"
        (change)="onCountyChange()"
      >
      </ng-select>
    </label>

  </div>

  <div class="form-group">
    <label
    >
      {{ 'Commune' }}

      <ng-select
        class="form-control"
        [formControl]="$any(form).controls['commune']"
        [placeholder]="'select commune'"
        [items]="communes"
        [bindLabel]="'name'"
        [searchable]="true"
        [clearable]="false"
        (change)="onCommuneChange()"
      >
      </ng-select>
    </label>
  </div>

  <div class="form-group">
    <label
    >
      {{ 'Locality' }}

      <ng-select
        class="form-control"
        [formControl]="$any(form).controls['locality']"
        [placeholder]="'select locality'"
        [items]="localities"
        [bindLabel]="'name'"
        [searchable]="true"
        [clearable]="false"
        (change)="onLocalityChange()"
      >
      </ng-select>
    </label>

  </div>

  <div class="form-group">
    <label
    >
      {{ 'Street' }}

      <ng-select
        class="form-control"
        [formControl]="$any(form).controls['street']"
        [placeholder]="'select street'"
        [items]="streets"
        [bindLabel]="'name'"
        [searchable]="true"
        [clearable]="false"
      >
      </ng-select>
    </label>
  </div>

  <button
    type="submit"
  >
    send
  </button>

</form>
