<div
  class="container"
>
  <div
    class="address-form"
  >
    <app-address-form
      (submit)="onSubmit($event)"
    >
    </app-address-form>
    <h5
    >
      When submitted values should be available in the console
    </h5>
  </div>
</div>
